{% extends 'base.html' %}  <!-- Наслідуємо базовий шаблон -->

{% block title %}Профіль{% endblock %}  <!-- Встановлюємо заголовок сторінки -->

{% block content %}  <!-- Вставляємо контент сторінки -->
<div class="container">
    <h2>Профіль користувача</h2>
    <!-- Додайте ваш контент для сторінки профілю тут -->
    <p>Вітаємо, {{ request.user.username }}! Ви знаходитесь на сторінці вашого профілю.</p>
    <p>Тут ви можете переглянути і змінити інформацію про себе.</p>
    <p><a href="{% url 'logout' %}">Вийти</a> з акаунту</p>
</div>
{% endblock %}