/* Стилі для сторінки контактів */

/* Заголовок */
.contacts h2 {
    font-size: 28px;
    margin-bottom: 15px; /* Збільшуємо відстань між заголовком і контактами */
}

/* Список контактів */
.contacts ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px; /* Збільшуємо відстань між списком контактів і посиланням "Назад" */
}

.contacts ul li {
    font-size: 18px;
    margin-bottom: 10px; /* Збільшуємо відстань між окремими контактами */
}

/* Посилання "Назад" */
.contacts a {
    display: block;
    margin-top: 20px; /* Збільшуємо відстань між списком контактів і посиланням "Назад" */
    text-decoration: none;
    color: #007BFF;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.contacts a:hover {
    color: #0056b3; /* Темніший синій колір при наведенні */
}
