/* Стилі для категорій на головній сторінці */

.categories-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Розподіляємо категорії по рядках */
    justify-content: space-between; /* Розташовуємо категорії рівномірно по ширині */
    margin-top: 20px;
}

/* Стилізуємо кожну категорію */
.categories-list li {
    width: calc(33.33% - 20px); /* Ширина кожної категорії, з відступом між ними */
    margin-bottom: 20px; /* Відступ між категоріями */
    text-align: center; /* Вирівнюємо текст по центру */
    padding: 10px; /* Додаємо внутрішній відступ для контейнера категорії */
    border-radius: 5px; /* Закруглені кути для контейнера категорії */
    background-color: #f9f9f9; /* Фоновий колір контейнера категорії */
}

/* Стилізуємо зображення категорії */
.categories-list li img {
    width: 100%; /* Фіксована ширина зображення */
    height: 200px; /* Фіксована висота зображення */
    object-fit: contain; /* Розтягуємо зображення, щоб воно вмістилося в область */
    border-radius: 5px; /* Закруглені кути для зображення */
    margin-bottom: 10px; /* Відступ між зображенням та текстом */
}

/* Стилізуємо текст категорії */
.categories-list li p {
    color: #333; /* Колір тексту */
    font-weight: bold; /* Жирний текст */
    font-size: 16px; /* Розмір шрифту */
    margin: 0; /* Відсутність зовнішніх відступів */
}